body {
    font-family: Arial, sans-serif;
}

header.jumbotron {
    background: #f8f9fa;
    color: black;
    padding: 2rem;
}

header h1 {
    font-size: 2.5rem;
}

#about img, #rooms img{
    width: 100%;
    height: auto;
}

footer {
    background-color: #f8f9fa;
}
